@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

/* ------------------------------------------ Config Geral ---------------------------------------- */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

a{
    color: initial;
}

.hr-style-global{
    width: 30%;
    border: 1px solid #F9B032;
    border-radius: 5px;
    background: #F9B032;
    opacity: 100;
    position: relative;
    top: 3px;
}

.border-style{
    border-radius:30px;
    box-shadow: 0px 0px 20px #000000a8;
    transition: all 0.5s;
}

.border-style:hover{
    transform: translate3d(0px, -8%, 0px);
    border-radius:30px;
    box-shadow: 0px 0px 20px #000000a8;
}

span.text-style{
    font-weight: 600;
    color: #153f5f;
}

.custom-shape-divider-bottom-1652542860 {
    margin-top: -55px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652542860 svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 59px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1652542860 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1652814020 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652814020 svg {
    position: relative;
    display: block;
    width: calc(167% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1652814020 .shape-fill {
    fill: #114168;
}

/* ------------------------------------------ Cabeçalho -------------------------------------------- */

header{
    background-color: #153f5f;
}

header nav div .text-style > li > a{
    color: white;
    font-weight: 550;
    transition: all 0.5s;
}

header nav div .text-style > li{
    transition: all 0.5s;
}

header nav div .text-style > li:hover{
    color: #dddddd;  
    border-bottom: 2px solid #dddddd;
}

header nav div ul .btn-style{
    border-radius: 30px;
}

/* ------------------------------------------ Conteúdo Principal ------------------------------------ */

main section#home{
    background: linear-gradient(90deg, #255981, #114168);
}

main section#home div .bg-style{
    background-color: #FEFEFE;
    border-radius: 5px;
}

main section#home div .hr-style{
    border: 1px solid #FEFEFE;
    background: #FEFEFE;
    position: relative;
    bottom: 5px;
}

main section#home div .img{
    width: 100%;
}

main section#benefits-what .space-style{
    margin-top: -30px;
}

main section#benefits-what .position-style{
    position: relative;
    bottom: 50px;
}

main section#benefits-like li::before{
    content: "";
    width: 23px;
    height: 23px;
    background-image: url(https://brandsdeveloper.github.io/fgts/img/check.svg);
    background-size: 100%;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 6px;
} 

main section#benefits-like li{
    list-style: none;
}

main section#quality-benefits .bg-style{
    background-color: #114168;
    border-radius: 25px;
    font-weight: 600;
}

main section#benefits-partner h1.text-style{
    font-weight: 600;
    color: #153f5f;
}

main section#Feedback .bg-style{
    background-color: #153f5f;
    border-radius: 25px;
}

main section#FAQ summary{
    background-color: #153f5f;
}

main section#FAQ .bg-style{
    background-color: #b0b3b633;
}

main section#FAQ div.col-md-6 img{
    width: 100%;
}

footer{
    background-color: #114168;
}

footer a{
    color: #FEFEFE;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 17px;
}

footer a:hover{
    color: #dbd9d9;
}
